@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');


body {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
}

.half {
    flex-basis: 50%;
}

.house-image {
    margin-left: 500px;
    margin-top: 50px;
}

.right {
    margin-left: 30px;
}

.adler-with-garage-description {
    font-size: 14px;
}

.adler-with-garage-description, table {
    width: 400px;
}

h1, h3, h6 {
    color: #007646;
}

h6 {
    letter-spacing: 2px;
}

h2, .p-price {
    font-size: 27px;
}

table {
    background-color: #007646;
    color: white;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;

}

td {
    width: 270px;
    border-bottom: 1px solid #ffffff10;
    padding-left: 20px;
}

.h2-price {
    top: 15px;
}

.form {
    width: 970px;
    margin-left: 500px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.form img, .radio-label {
    flex-basis: 32%;
}

.radio-label, .img {
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

input[type=radio] {
    border: 0px;
    width: 10%;
    height: 20px;
}

input[type=number] {
    height: 30px;
    width: 80px;
}

.img {
    margin-top: -60px;
}

label[for=amount] b {
    margin-top: 10px;
}

.price {
    width: 100%;
    height: 100px;
    background-color: #007646;
    margin-top: 100px;
    position: sticky;
    bottom: 0;
    color: white;
}

.price-h2-p > h2 {
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 0;
}

.price-h2-p > p {
    font-weight: 500;
    margin-top: 0;
}

button {
    float: left;
    position: relative;
    top: 30px;
    left: 400px; 
    font-family: 'Barlow', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.price-h2-p {
    float: left;
    height: 30px;
    margin-left: 400px;

}

.first-column, .second-column, .third-column {
    flex-basis: 32%;
    height: 600px;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.second-row {
    margin-top: -220px;
}

.first-column-element {
    margin-top: 25px;
}

.second-column-element {
    margin-top: 30px;
}

#bars {
    width: 31px;
}

b {
    display: block;
    margin-left: 35px;
    margin-top: -23px;
}

.radio-label p, .first-column-element p, .second-column-element p, .second-column p, input[type=number] {
    margin-left: 35px;
}
